*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
@font-face {
  font-family: RobotoThin;
  src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: RobotoLight;
  src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: RobotoRegular;
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: RobotoBold;
  src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: RobotoBlack;
  src: url('../fonts/Roboto-Black.ttf');
}

body {
  font-family: RobotoRegular;
}

.home {
  color: white;
  background: #36809f;
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  width: 40%;
}

li:hover {
  text-decoration: underline;
}

.logo {
  font-size: 4em;
}

.page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.hero {
  align-self: center;
  justify-self: center;
  grid-column: 4/5;
}

.model {
  width: 125%;
  height: auto;
  transform: translate(-25%, -5%);
}

.description {
  grid-column: 2/4;
  align-self: center;
}

.firstName {
  font-family: RobotoBold;
  font-size: 1500%;
  line-height: 0.8;
}

.lastName {
  font-family: RobotoBlack;
  font-size: 2000%;
  line-height: 0.8;
}

hr {
  width: 25%;
  height: 1em;
  background-color: #f8c532;
  border: none;
  margin: 1em 1em;
}

.job {
  color: #f8c532;
  font-family: RobotoThin;
  font-size: 400%;
  padding-left: 0.2em;
}

.featured {
  background-color: #2b7797;
}

.featured h1 {
  align-self: flex-start;
  justify-self: center;
  grid-column: 3/4;
  font-size: 3em;
  padding: 1em 0;
}

.contact {
  background-color: #1e3653;
}

.contactInfo {
  align-self: center;
  justify-self: center;
  grid-column: 2/5;
  font-size: 5em;
  text-align: center;
}

.contactInfo h3 {
  font-size: 3rem;
  font-family: RobotoLight;
}

@media (max-width: 1000px) {
  .logo {
    font-size: 2em;
  }

  .nav-links {
    font-size: 1em;
    width: 60%;
  }

  .page {
    grid-template-columns: 5% 1fr 5%;
  }

  .hero {
    grid-column: 2/3;
  }

  .description {
    grid-column: 2/3;
    justify-content: center;
  }

  .firstName {
    font-size: 20vw;
  }
  .lastName {
    font-size: 25vw;
  }

  hr {
    height: 0.5em;
    margin: 0.5em 0.5em;
  }

  .job {
    font-size: 4vw;
  }

  .model {
    width: 200px;
    height: auto;
    transform: translate(0, 0);
  }

  .featured h1 {
    grid-column: 2/3;
    font-size: 4vw;
  }

  .contactInfo {
    grid-column: 2/3;
  }
  .contactInfo h1 {
    font-size: 8vw;
  }

  .contactInfo h3 {
    font-size: 5vw;
  }
}
